{% extends 'base.html' %}

{% block title %}
    Sign in page
{% endblock %}

{% block header %}
    <h1>Login Page</h1>
{% endblock %}



{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" name="username">
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password" name="password">
                <div id="passwordHelpBlock" class="form-text">
                  If you don't have an account <a href="{% url 'auth:register' %}">register</a> first
                </div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Log in</button>
              <a class="btn btn-secondary" href="/">Go home</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}