{% extends 'base.html' %}

{% block title %}
    {{ block.super }} logout
{% endblock %}

{% block header %}
    <h1>Logout Page</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h1 class="text_danger">Are you want to logout?</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-danger">Yes, I want</button>
            <a href="/" class="btn btn-secondary">No, I don't want</a>
        </form>
    </div>
{% endblock %}