{% extends 'base.html' %}

{% block title %}
    {{ block.super }} register
{% endblock %}

{% block header %}
    <h1>Register Page</h1>
{% endblock %}


{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
<!--                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" name="username">-->
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="mb-3">
                    <label for="inputPassword1" class="form-label">Password</label>
<!--                    <input type="password" id="inputPassword1" class="form-control" aria-describedby="passwordHelpBlock" name="password1" placeholder="Password">-->
                    {{ form.password1 }}
                    <label for="inputPassword2" class="form-label">Confirm password</label>
<!--                    <input type="password" id="inputPassword2" class="form-control" aria-describedby="passwordHelpBlock" name= "password2" placeholder="Cofirm password">-->
                    {{ form.password2 }}
                    <div id="passw ordHelpBlock" class="form-text">
                      If you have already an account <a href="{% url 'auth:login' %}">login</a> first
                    </div>
                </div>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="submit">Sign in</button>
                  <a class="btn btn-secondary" href="/">Go home</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}